@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-vibely-dark text-vibely-text font-sans antialiased selection:bg-vibely-primary/30;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
